@use "../../Styles/_variables.scss" as *;


   .card{
         max-width: 290px;
         height: auto;
         padding: 16px;
         background-color: $color-secundario;

         .img{
            width: 100%;
         }
    
}


@media screen and (min-width: 378px) {
    .card{
        max-width: 190px;
    }
    
}

