
@use "../../Styles/_variables" as *;


.inputContainer {
    position: relative;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.inputSearch {
    width: 800px;
    height: 44px;
    border-radius: 12px;
    border: none;
    padding: 0px 16px;
    appearance: none;
    background-color: #ffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: $color-primario;
    font-size: 14px;

}

input:focus {
    border: 2px solid $color-hover;
    outline: none;
    box-shadow: 0 1 3 3px rgba(0, 0, 0, 0.1);
}

.searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

.search {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;


}


@media screen and (max-width: 820px) {

    .inputContainer {
        width: 90%;
        margin: auto;
        
    }

    .inputSearch {
        width: 100%;
        

    }


}




@media screen and (max-width: 600px) {

    .inputContainer {
        width: 90%;
        margin: auto;
        
    }

    .inputSearch {
        width: 100%;
        

    }


}