.inputContainer {
    position: relative;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.inputSearch {
    width: 800px;
    height: 44px;
    border-radius: 12px;
    border: none;
    box-shadow: 3 3 black;
    padding: 16px;

    }


input:focus {
  border: 2px solid #000;
  outline: none;
  box-shadow: 0 1 3 3px rgba(0,0,0,0.1);
}


.searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}

.search {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(26, 24, 23);

}


@media (max-width: 600px) {
    .inputContainer {
        width: 100%;
        ;



    }
}