
@use "../../Styles/_variables.scss" as *;



.navbarContainer{
    max-width: 1440px;
    margin: auto;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
    position: relative;
  
    .user{
        margin-right: 19px;
    }
    .shoppingCart{
        cursor: pointer;
        margin-right: 16px;

        .totalItem{
            top:-16px;
            right: 5px;
            background-color:$color-danger;
            color: #fff;
            border-radius: 10px;
            padding: 0px 4px;
            font-size: 11px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
        }
    
    }

    h2{
        color: $color-secundario;
    }
    .iconContainer{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 110;
    }
 
}

.desktopNav a{     
        padding: 30px 30px;
        text-decoration: none;
        font-style: none;
        font-size: 14px;
        list-style: none;  
        color: $color-secundario;
        font-weight: 400;
    
&:hover {
    transform: translateY(-5px);
    color: $color-hover;
    }
}

    .mobileNav{
    display: none;
}

.menu{
    display: none;
}
.xMenu{
    display: none;
}





@media (max-width: 710px) {
    
    .desktopNav{
        display: none;
    }

    .menu{
        cursor: pointer;
        display: block;
        z-index: 120;
    }

    
    .mobileNav {
        background-color:$color-primario;
        display: block;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 57px;
        left: -100%;
        right: 0px;
        width: 90%;
        justify-content:center;
        padding: 16px;
        overflow: hidden;
        height: calc(100vh - 100px);
        text-align: right;
        transition: all 0.5s ease-in-out;
    }

    .mobileNav.open {
        height: calc(100vh - 100px);
        left: 0px;
        transition: all 0.3s ease-in-out;
        transform:translateX(0px);
        }
    .mobileNav a{
        display: block;
        padding: 16px 24px;
        color: $color-grisClaro;
        text-decoration: none;
    }
    .mobileNav a:hover{
        color: $color-hover;
        
    }
    .xMenu:hover{
        cursor: pointer;


    }
    /*
    top: 56px;
    left: 0;
    right: 0;
    background-color: $color-primario;
    color: $color-grisClaro;
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 16px;
    z-index: 50;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    pointer-events: none;
    }


    
*/

    }
 



