
@use "../../Styles/_variables.scss" as *;



.navbarContainer{
    max-width: 1440px;
    margin: auto;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
  
    .user{
        margin-right: 19px;
    }
    .shoppingCart{
        cursor: pointer;
        margin-right: 16px;

        .totalItem{
            top:-16px;
            right: 5px;
            background-color:$color-danger;
            color: #fff;
            border-radius: 10px;
            padding: 0px 4px;
            font-size: 11px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
        }
    }
    .menu{
        display: none;
    }

    h2{
        color: $color-secundario;
    }
    .iconContainer{
        display: flex;
        align-items: center;
    }
 
}

.desktopNav a{     
        padding: 30px 30px;
        text-decoration: none;
        font-style: none;
        font-size: 14px;
        list-style: none;  
        color: $color-secundario;
        font-weight: 400;
    
&:hover {
    transform: translateY(-5px);
    color: $color-hover;
    }
}

.mobileNav{
    display: none;
}





@media (max-width: 710px) {
    
    .desktopNav{
        display: none;
    }
.mobileNav {
  position: relative;
  display: block;
  flex-direction: column;
  background: #0f172a;
}


    }
 



