


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$color-primario: #111827;
$padding-base: 1rem;
$fuente-principal: 'Roboto', sans-serif;


.card_container{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    
 
}



