

@use "../../../Styles/variables" as *;



.cart-overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 550px;
  height:100vh;
  background: $color-grisOscuro;
  z-index: 1001;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  will-change: transform;

}

.cart-overlay.show{
    transform: translateX(0);
}

.cart {
  padding: 56px 16px;
  height: 100%;
  overflow-y: auto;
}

.x-icon{
    
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}


@media (max-width: 600px) {
    .cart-overlay{
        width: 100%;;
     
   
      
    }
}


